html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  background: #0D523F;
  font-family: "Sketchnote Square";
}
h1, h2 {
  font-family: "P22 Stanyan";
  padding: 4%;
  display: inline;
  font-size: 200%;
}
a {
  text-decoration: none;
}
h3 {
  background-color: orange;
  border-radius: 4%;
  border: solid black 5px;
}
p, h3 {
  text-align: center;
  padding: 4%;
  margin: 2%;
  font-family: "Sketchnote Square";
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
}
header li {
  list-style: none;
  margin: 2%;
}
header > img {
  max-width: 10%;
}
header a:hover {
  color: orange;
}
footer {
  margin: 4%;
  padding: 2%;
  display: flex;
  justify-content: center;
}
nav a {
  font-size: 120%;
  text-decoration: none;
  color: black;
}
nav ul {
  display: flex;
}

footer {
  padding: 56%, 52%;
}

.section_2 > div > img {
  margin: 2%;
  max-height: 80%;
  max-width: 80%;
  border-radius: 50%;
  border: solid #D48A00 5px;
  display: none;
}

.main {
  display: flex;
  background: #05693E;
	align-items: center;
}
.section_1 {
  display: flex;
  flex-direction: column;
  justify-content:center;
  padding: 3%;
  align-items: center;
}
.section_2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.section_1 img {
  max-width: 80%;
  border: solid #D48A00 5px;
  align-self: center;
}
.section_3 {
  display: flex;
  background: #1FB542;
  padding: 3%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section_3 img {
  border: solid #D48A00 5px;
}
.section_4, .section_6 {
  display: flex;
  flex-direction: row;
  background: #05693E;
  align-items: center;
  justify-content: center;
}
.section_5 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
.section_4 img, .section_5 img, .section_6 img {
  border-radius: 50%;
  max-width: 80%;
  border: solid #D48A00 5px;
}
.section_4, .section_6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#history {
  background-color: orange;
  border-radius: 2%;
}
#menu-icon {
  width: 40px;
  height: 40px;
  background: url("images/bars-solid.svg") center no-repeat;
  position: relative;
}
li a:hover {
  border-bottom: 5px solid black;
}
a:hover #menu-icon {
  background-color: #444;
  border-radius: 4px 4px 0 0;
}
/*  Media Query Breakpoint for Tablet */





@media only screen and (min-width : 651px) {
  .main {
    flex-direction: column-reverse;
  }
  .section_2 {
    flex-direction: row;
  }
  .hamburger-menu {
    display: none;
  }
  .nav-list {
    display: flex;
  }
  .section_2 > div > img {
    display: inline;
  }
	
}
@media only screen and (min-width : 260px) and (max-width : 889px) {
  #menu-icon {
    display: flex;
  }
  .section_1 {
    max-width: 50%;
  }
  .section_1 p:last-child {
    display: none;
  }
  .section_2 > div > img {
    display: inline;
  }
  p {
    text-align: left;
  }
  nav ul, nav:active ul {
    display: none;
    background-color: aqua;
    border: 2px solid #D48A00;
    border-radius: 12px;
    box-shadow: 4px 4px 6px #000;
  }
  nav:hover ul {
    display: flex;
    position: absolute;
    flex-direction: column;
    right: 12%;
  }
  nav li {
    text-align: center;
    margin: 0;
    padding: 2%;
    display: flex;
    flex-grow: 3;
    justify-content: center;
  }
  header > img {}
}
@media (max-width : 650px) {
  .mobile {
    display: none;
  }
	.text_1, .text_2, .text_3, .text_4, .text_5, .text_6 {
		display: none;
	}
	
	.aspect-ratio-button_1, .aspect-ratio-button_2, .aspect-ratio-button_3, .aspect-ratio-button_4, .aspect-ratio-button_6{
		display: block;
	}
}
@media only screen and (max-width : 501px) {
  .tablet {
    display: none;
  }
}
